// ServiceNow Now Design System

// Globals / Buttons

@import 'colors/base';
@import 'colors/derived';
@import 'colors/alert';
@import 'categories/actionable';

@import 'buttons/button';
@import 'buttons/button-bare';
@import 'buttons/button-iconic';
@import 'buttons/button-stateful';
@import 'buttons/button-circular';

@import 'buttons/mixins';

// DO NOT USE keeping for backwards compatibility

// theme-analyzer-disable
$now-button--sm: now-fn-px2rem(24px);
$now-button--md: now-fn-px2rem(32px);
$now-button--lg: now-fn-px2rem(48px);

// stylelint-disable-next-line servicenow/ndsonly-same-name-variables
$now-button--iconic--border-radius: var(--now-button-iconic--border-radius, var(--now-button--border-radius, var(--now-actionable--border-radius)));

// theme-analyzer-enable
