// ServiceNow Now Design System

// Global / Category / Container

$now-container--font-style:     var(--now-container--font-style, normal);
$now-container--font-weight:    var(--now-container--font-weight, normal);
$now-container--font-family:    var(--now-container--font-family, $now-font-family);
$now-container--text-transform: var(--now-container--text-transform, none);
$now-container--border-width:   var(--now-container--border-width, 1px);
$now-container--border-color:   var(--now-container--border-color, $now-color_border--tertiary);
$now-container--border-radius:  var(--now-container--border-radius, 0);
$now-container--color:          var(--now-container--color, $now-color_background--primary);
