// ServiceNow Now Design System

// Global / Category / Identifier

$now-identifier--font-style:      var(--now-identifier--font-style, normal);
$now-identifier--font-weight:     var(--now-identifier--font-weight, normal);
$now-identifier--font-family:     var(--now-identifier--font-family, $now-font-family);
$now-identifier--text-transform:  var(--now-identifier--text-transform, none);
$now-identifier--border-width:    var(--now-identifier--border-width, 1px);
$now-identifier--border-radius:   var(--now-identifier--border-radius, 0);
