// ServiceNow Now Design System

// Global / Category / Navigation

$now-navigation--font-style:      var(--now-navigation--font-style, normal);
$now-navigation--font-weight:     var(--now-navigation--font-weight, normal);
$now-navigation--font-family:     var(--now-navigation--font-family, $now-font-family);
$now-navigation--text-transform:  var(--now-navigation--text-transform, none);
