// ServiceNow Now Design System

// Global / Category / View Control

$now-view-control--font-style:      var(--now-view-control--font-style, normal);
$now-view-control--font-weight:     var(--now-view-control--font-weight, normal);
$now-view-control--font-family:     var(--now-view-control--font-family, $now-font-family);
$now-view-control--text-transform:  var(--now-view-control--text-transform, none);
$now-view-control--border-width:    var(--now-view-control--border-width, 0);
$now-view-control--border-radius:   var(--now-view-control--border-radius, 0);
