@font-face {
	font-style: normal;
	font-weight: 400 700;
	font-family: Cabin;
	src: url('src/fonts/cabin/assets/Cabin-VariableFont_wdth,wght.woff2') format('woff2');
}
@font-face {
	font-style: italic;
	font-weight: 400 700;
	font-family: Cabin;
	src: url('src/fonts/cabin/assets/Cabin-Italic-VariableFont_wdth,wght.woff2') format('woff2');
}
@font-face {
	font-style: normal;
	font-weight: 300;
	font-family: Lato;
	src: url('src/fonts/lato/assets/LatoSNJ-Light.woff2') format('woff2');
}
@font-face {
	font-style: normal;
	font-weight: normal;
	font-family: Lato;
	src: url('src/fonts/lato/assets/LatoSNJ-Regular.woff2') format('woff2');
}
@font-face {
	font-style: italic;
	font-weight: normal;
	font-family: Lato;
	src: url('src/fonts/lato/assets/LatoSNJ-RegularItalic.woff2') format('woff2');
}
@font-face {
	font-style: normal;
	font-weight: 600;
	font-family: Lato;
	src: url('src/fonts/lato/assets/LatoSNJ-Medium.woff2') format('woff2');
}
@font-face {
	font-style: italic;
	font-weight: 600;
	font-family: Lato;
	src: url('src/fonts/lato/assets/LatoSNJ-MediumItalic.woff2') format('woff2');
}
@font-face {
	font-style: normal;
	font-weight: bold;
	font-family: Lato;
	src: url('src/fonts/lato/assets/LatoSNJ-Bold.woff2') format('woff2');
}
@font-face {
	font-style: italic;
	font-weight: bold;
	font-family: Lato;
	src: url('src/fonts/lato/assets/LatoSNJ-BoldItalic.woff2') format('woff2');
}
