// Now Button Circular
// DO NOT IMPORT THIS PARTIAL DIRECTLY

$now-button-circular--border-width: var(--now-button-circular--border-width, 0);

$now-button-circular--opacity--disabled: var(--now-button-circular--opacity--disabled, $now-button--opacity--disabled);

$now-button-circular--border-color: var(--now-button-circular--border-color, $now-button--primary--border-color);
$now-button-circular--border-color--hover: var(--now-button-circular--border-color--hover, $now-button--primary--border-color--hover);
$now-button-circular--border-color--active: var(--now-button-circular--border-color--active, $now-button--primary--border-color--active);

$now-button-circular--color: var(--now-button-circular--color, $now-button--primary--color);
$now-button-circular--color--hover: var(--now-button-circular--color--hover, $now-button--primary--color--hover);
$now-button-circular--color--active: var(--now-button-circular--color--active, $now-button--primary--color--active);

$now-button-circular--background-color: var(--now-button-circular--background-color, $now-button--primary--background-color);
$now-button-circular--background-color--hover: var(--now-button-circular--background-color--hover, $now-button--primary--background-color--hover);
$now-button-circular--background-color--active: var(--now-button-circular--background-color--active, $now-button--primary--background-color--active);
