// ServiceNow Now Design System

// Theme / Category / Form Control

@mixin now-mx-theme-category-form-control {
	--now-form-control--font-style: normal;
	--now-form-control--font-weight: normal;
	--now-form-control--font-family: var(--now-font-family);
	--now-form-control--text-transform: none;
	--now-form-control--border-width: 1px;
	--now-form-control--border-radius: 0;
	--now-form-control_handle--border-width: 1px;
	--now-form-control_handle--border-radius: #{$now-global-border-radius--sm};
	--now-form-control_track--border-width: 1px;
	--now-form-control_track--border-radius: #{$now-global-border-radius--sm};
}
