// ServiceNow Now Design System

// Theme / Category / Loading

@mixin now-mx-theme-category-loading {
	--now-loading--font-style: normal;
	--now-loading--font-weight: normal;
	--now-loading--font-family: var(--now-font-family);
	--now-loading--text-transform: none;
	--now-loading--border-width: 0;
	--now-loading--border-radius: 0;
	--now-loading--initial--border-color: var(--now-color--primary-2);
	--now-loading--initial--background-color: var(--now-color--primary-1);
}
